// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #212529;

h2#swal2-title
{
   font-size: 20px;
}
div#swal2-html-container{
   font-size: 20px;
}
